<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span>Home</a>
            </li>
            <li>
                <a href="https://heidisgithub.github.io/hikingclub-admin/"><span class="glyphicon glyphicon-user"></span>Log in</a>
            </li>
            <li><a href="/hikes">Hikes</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/register">Register</a></li>
            </li>
        </ul>

    </div>
</nav>