nav {
    margin-bottom: 0 !important;
}

.navbar-right {
    margin-right: unset !important;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.navbar{
    margin-bottom: 0px;
}

.container{
    display: inline-block;
    font-size: 20px;
}
/* Mobile Version*/
/* On screens that are 600px wide or less*/
@media only screen and (max-width: 600px) {
    .headerImg{
        background-image: url("../images/cliffs-gd9d3610ab_1920.jpg");
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
  }

.headerImg{
    background-image: url("../images/cliffs-gd9d3610ab_1920.jpg");
    background-size: cover;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.headTitle {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 150px;
}



h2{
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 50px;
}
.hikeImg {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    padding-left: 50px;
    background-size: cover;

}
.hikeImg a{
    width: 50%;
}

.hikeImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hikeText{
padding-left: 50px;
padding-right: 50px;
font-size: 30px;
width: 50%;
}


.sepImg {
    background-image: url("../images/toa-heftiba-ujPOme_7e5s-unsplash.jpg");
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subTitle{
   
    color: white;
    font-size: 50px;
}

.joinBtn{
    margin: 20px;
   padding: 15px;
    font-size: 30px;
}

.footerLinks li {
    padding-left: 1rem;
}

.footerLinks a {
    color: #fff;
}

.footerLinks li:first-child {
    padding-left: unset;
}

footer {
    padding: 3rem 7vw;
    background-color: #444;
}

footer>div {
    display: flex;
}

li {
    list-style: none;
}

h1.hikeTitle {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    z-index: 2;
    bottom: 5%;
    color: #fff;
    left: 7vw
}

.headerImage {
    background-color: #edeeed;
    min-width: 100%;
    min-height: 100%;
}

.headerImageContainer {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.hikeSpecs,
.aboutHike {
    padding: 3rem 7vw;
}

.hikeInfo {
    display: flex;
    justify-content: space-between
}

.hikeInfo .infoRow {
    width: 50%;
    padding-left: 1rem;
}

.hikeInfo .infoRow:nth-child(odd) {
    padding-left: 0;
}

.infoRow {
    display: flex;
    padding-bottom: 3rem;
}

@media(max-width: 400px) {
    .hikeInfo {
        flex-flow: column;
    }
}

.info {
    padding-right: 1rem;
    font-weight: 600;
}

.aboutHike {
    background-color: #edeeed;
}

@media(min-width: 754px) {
    header {
        height: calc(100vh - 50px);
        overflow: hidden;
    }
}

@media(max-width: 754px) {
    header {
        height: calc(100vh - 183.5px);
        overflow: hidden;
    }
}

.headerGradient,
.cardGradient {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient( 15deg, #000 10%, transparent 40%);
    position: absolute;
    z-index: 1;
    bottom: 0;
    opacity: 0.8;
    background-size: 100%;
    transition: 0.3s ease-out
}

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    display: none;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
    opacity: 0.6;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
    opacity: 1;
}

.infocardCollection {
    padding: 3rem 7vw;
    display: flex;
    flex-basis: 50%;
    flex-flow: wrap;
}

.infocard {
    max-height: 30rem;
    position: relative;
    width: 50%;
    overflow: hidden;
}

@media(max-width: 760px) {
    .infocard {
        width: 100%;
        height: 30rem;
    }
}

@media(max-width: 400px) {
    .infocardCollection {
        padding: 3rem 0vw
    }
}

.infocard:hover .cardGradient {
    background-size: 200%;
    transition: 0.3s ease-out
}

.infocard:hover .infocardImage {
    transform: scale(1.2);
    transition: .3s ease-out;
}

.infocard:nth-child(odd) {
    margin-left: unset;
}

.infocardData {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #fff;
    z-index: 2;
}

.infocardImage {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: .3s ease-out;
}

.infocardImageContainer {
    height: 100%;
    width: 100%;
}

.pageH1 {
    padding: 0 7vw;
}