<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Hiking Club</title>
</head>

<body>
    <!-- Mobile Navbar -->
    <div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="">Home</a>
        <a href="">Hikes</a>
        <a href="">News</a>
        <a href="">Our Members</a>
        <a href="">Register</a>
    </div>

    <header>
        <h1>Hiking Club</h1>
        <!-- Header Image -->
        <a href="">
            <img src="">
        </a>
    </header>

    <h2>Upcoming Hikes</h2>
    <%= JSON.stringify(hikes)%>
    <%for (let i= 0; i < hikes.length && i < 3; i++) { %>
    <div>
        <!-- Hike Image  -->
        <a href="">
            <img src="">
        </a>
        <p><%= hikes[i].title%></p>
        <p>Hike location</p>
        <p>Hike data</p>
    </div>
    <%}%>

    <!-- separator image -->
    <a href="">
        <img src="">
    </a>
    <button>Join us</button>

    <!-- News Image -->
    <a href="">
        <img src="">
    </a>
    <h2>News Title</h2>
    <h3>News Date</h3>

    <button>Read more</button>



    <!-- Footer -->
    <footer>


    </footer>



</body>

</html>