<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header", {title: "These are our hikes!" }) %>

    <body>
        <!-- Mobile Navbar -->
        <%- include("../partials/nav") %>

            <!-- Header Image -->
            <header class="hikeslistImg">
                <h1 class="headTitle">Hikes</h1>
            </header>

            <!-- Image grid -->
            <h1 class="pageH1"><strong>What we offer</strong></h1>
            <% if(hikes){ %>
                <div class="infocardCollection">
                    <%for (let i=0; i < hikes.length; i++) { %>
                        <%- include("../partials/card", {card: hikes[i], url}) %>
                            <%}%>
                </div>
                <%}%>

                    <!-- News image -->
                    <div class="hikesFootImg">
                        <button class="joinBtn">See all hikes</button>
                    </div>

                    <!-- Footer -->
                    <%- include("../partials/footer") %>
    </body>

</html>