<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>

    <%- include ("../partials/nav.ejs") %>

        <header>
            <div class="headerImageContainer">
                <img class="headerImage" src="">
            </div>
            <h1>Hike Title</h1>
        </header>


        <% if(!hike.title === "") %>
            <p>When:
                <%= hike.title %>
            </p>
            <p>Where:</p>
            <p>Max Participants:</p>
            <p>Duration:</p>
            <p>Difficulty Level:</p>
            <p>Spaces Left:</p>

            <button>Participate:</button>

            <h2>About this hike</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti sed maxime nostrum quis deserunt! Corporis quidem voluptates, alias magnam eaque, quaerat, cum ab libero ad magni asperiores molestias laborum hic.</p>

            <h3>POssible hazards</h3>
            <p>Hazard 1</p>
            <p>Hazard 2</p>
            <p>Hazard 3</p>

            <button>See all hikes</button>

            <!-- Footer -->
            <footer>


            </footer>



</body>

</html>