<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header.ejs",{title:"Hiking Club"}) %>
</head>

<body>
    <!-- Mobile Navbar -->
    <%- include("../partials/nav.ejs") %>


<main>

    <div class="imprint">
        <h3><strong>Privacy Policy</strong></h3>
        <br>
        <p>Hiking Club doesn´t log or share your personal information. We don´t track you. We don´t profile you.</p>
    </div>
</main>

<!-- Footer -->
<%- include("../partials/footer") %>
</body>

</html>